body {
  margin: 0;  
  background: url(../img/write_bg.jpg) no-repeat fixed;
  background-size: 100% 100%;
  font-family: "Microsoft YaHei";
}
/*-----------------nav------------------*/
#top-bar {
  margin: 0 auto;
  margin-top: 20px;
  width: 904px;
  height: 70px;
}
#top-bar a {
  text-decoration: none;/*There is no underline.*/
}
.iconfont {
  float: right;
  line-height: 70px;
}
#home {
  color: rgb(252,114,3);
}
#write {
  color: #99cc00;
}
#message {
  color: #ff6666;
}
/*--------------content---------------*/
#content {
  margin: 0 auto;
  width: 900px;
  /*height: 709px;*/
  overflow-y: visible;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#66ccff), to(#ffcc99));/*谷歌*/
}
#content > h1 {
  text-align: center;
}
#content > p {
  font-size: 20px;
}
/*--------------footer---------------*/
#footer {  
  margin: 0 auto;
  width: 900px;
}
.btn {
  width: 92px;
  height: 36px;
  margin-top: 10px;
  display: block;
  float: right;
  border-radius: 5px;
  font-size: 16px;
  background: #ff6666;
}
#comment {
  width: 900px;
  height: 100px;
  display: block;
  border-radius: 5px;
  overflow-y: visible;
  font-size: 28px;
}